<p class="mb-1 fw-bold">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  Waiting in Queue
</p>
<div class="border" [ngStyle]="{ overflow: 'auto', height: '200px' }">
  <table class="table text-center">
    <thead class="bg-secondary" [ngStyle]="{ position: 'sticky', top: 0 }">
      <tr class="text-light">
        <th class="" style="width: 10%">Type</th>
        <th class="" style="width: 10%">Created</th>
        <th class="" style="width: 20%">Name</th>
        <th class="" style="width: 20%">Description</th>
        <th class="" style="width: 15%">Owner</th>
        <th class="" style="width: 15%">Started Running</th>
        <th class="" style="width: 10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of parentClass.ELEMENT_DATA; let i = index">
        <td><div class="btn btn-sm btn-primary">B</div></td>
        <td>{{ obj.second }}</td>
        <td>{{ obj.third }}</td>
        <td>{{ obj.fourth }}</td>
        <td>{{ obj.fifth }}</td>
        <td>{{ obj.sixth }}</td>
        <td>
          <button
            class="btn btn-sm btn-success rounded-5 mx-1"
            (click)="parentClass.addEle(i)"
          >
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-sm btn-danger rounded-5 mx-1"
            (click)="parentClass.deleteEle(i)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
